DATABASE_URL="file:./dev.db"
STELLAR_NETWORK=testnet
HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
PINATA_JWT=
PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs
